Source: redemption
Section: net
Priority: extra
Maintainer: WAB Dev Team <wab@wallix.com>
Build-Depends: git, dpkg-dev, debhelper, bjam, libboost-test1.42-dev, libssl-dev, libpng-dev

Package: redemption
Architecture: i386 
Homepage: https://github.com/wallix/redemption
Depends: libpng12-0, libssl0.9.8
Description: A new generation RDP proxy for WAB
    A new generation RDP proxy for WAB
    wwww: https://github.com/wallix/redemption
