Source: redemption
Section: x11
Priority: extra
Maintainer: WAB Dev Team <wab@wallix.com>
Build-Depends: git, dpkg-dev, debhelper, build-essential, libboost-dev, g++, libssl-dev, libpng12-dev

Package: redemption
Architecture: amd64 
Homepage: http://redemption.wallix.org
Depends: libpng12-0, libssl1.0.0
Description: A new generation RDP proxy for WAB
    A new generation RDP proxy for WAB
    wwww: http://redemption.wallix.org
