.gitignore
*.kdev*
*.kate-swp
/cmake_compil
/bin
/build
/coverage.summary
/coverage
/tools/coverage.summary
/tools/sesman/logger.pyc
/tools/sesman/sesmanworker/password.py
/tools/sesman/sesmanworker/*.pyc
/tools/redcryptofile/redcryptofile.so
/tools/ocr/fonts/
/tools/ocr/learning
/projects/QT4Client/bin
/projects/QT5Client/bin
/projects/browser_client/bin
/projects/redemption_configs/bin
/projects/proxy/coverage
/projects/proxy/bin
[#]*[#]
.\#*
password.py
*.pyc
/debian
/tools/valgrind-filter/valgrind-filter
*~
/projects/proxy/tools/redcryptofile/redcryptofile.so
/.gdb_history
