#!/usr/bin/python
# -*- coding: UTF-8 -*-

PASSWORD1 = u'PASSWORD'
PASSWORD2 = u'PASSWORD'
PASSWORD3 = u'PASSWORD'
PASSWORD4 = u'PASSWORD'
PASSWORD5 = u'PASSWORD'
PASSWORD6 = u'PASSWORD'
PASSWORD7 = u'PASSWORD'
PASSWORD8 = u'PASSWORD'
PASSWORD9 = u'PASSWORD'
