#tty-player {
    font-family: monospace, monospace;
    border: 2px solid #285577;
    border-top: 1px solid #4c7899;
    display: inline-block;
    position: relative;

    background-color: #333;
    color: #eee;
}

#tty-player-title {
    background: #285577;
    border-bottom: 1px solid #4c7899;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0.2em;
    margin:0;
    margin-bottom:0.2em;
    line-height: 1;
    height: 1em;
    cursor: default;
}

#tty-player-terminal {
    margin:0;
    cursor: text;
    line-height: initial;
}
#tty-player-terminal p {
    margin:0;
    padding:0;
}
