<!doctype html>
<html>

  <head></head>
  <body>
    <div class="emscripten_border">
      <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
    </div>
    <script type='text/javascript'>

      var Module = {
        canvas: (function() {
          var canvas = document.getElementById('canvas');
          //canvas.addEventListener("webglcontextlost", function(e) { alert('WebGL context lost. You will need to reload the page.'); e.preventDefault(); }, false);
          return canvas;
        })(),
      };

    </script>

          {{{ SCRIPT }}}

  </body>
</html>


    



