[globals]
bitmap_cache=yes
bitmap_compression=yes
port=3389
crypt_level=low
channel_code=1
authip=127.0.0.1
authport=3350
l_bitrate=10000
l_framerate=1
l_height=480
l_width=640
l_qscale=28
m_bitrate=20000
m_framerate=1
m_height=768
m_width=1024
m_qscale=14
h_bitrate=30000
h_framerate=5
h_height=2048
h_width=2048
h_qscale=7

[xrdp1]
name=RDPProxy
lib=auth
username=ask
password=ask
port=3350
authip=127.0.0.1
authport=3350
