#!/usr/bin/make -f

export DH_VERBOSE=10
export DESTDIR=debian/buildtmp

export PREFIX=%PREFIX%
export LIB_PREFIX=%LIB_PREFIX%
export ETC_PREFIX=%ETC_PREFIX%
export CERT_PREFIX=%CERT_PREFIX%
export RDPLICENSE_PATH=$CERT_PREFIX/rdplicense
export RDPCERT_PATH=$CERT_PREFIX
export METRICS_PATH=%METRICS_PATH%
export RECORD_PATH=%RECORD_PATH%
export RECORD_TMP_PATH=%RECORD_TMP_PATH%
export HASH_PATH=%HASH_PATH%
export PERSISTENT_PATH=/var/lib/redemption/cache
#export PERSISTENT_PATH=%PERSISTENT_PATH%
export DRIVE_REDIRECTION_PATH=%DRIVE_REDIRECTION_PATH%


BJAM_EXTRA_INSTALL=%BJAM_EXTRA% %DEBUG_OPT%

clean:
	# dh_testdir - test directory before building Debian package. It makes sure
	# that debian/control exists also check Jamroot for redemption project.
	dh_testdir Jamroot
	dh_testroot
	dh_clean
	bjam clean $(BJAM_EXTRA_INSTALL)

build:
	# dh_testdir - test directory before building Debian package. It makes sure
	# that debian/control exists also check Jamroot for redemption project.
	dh_testdir Jamroot
	bjam -q $(BJAM_EXTRA_INSTALL) exe libs

install: build
	dh_testdir Jamroot
	bjam -q $(BJAM_EXTRA_INSTALL) install

binary-indep: build install

binary-arch: build install
	# dh_testdir - test directory before building Debian package. It makes sure
	# that debian/control exists also check Jamroot for redemption project.
	dh_testdir Jamroot
	#dh_testroot - ensure that a package is built as root
	#(use fakeroot as only file manipulation is involved, we don't really have to execute code as root)
	dh_testroot
	#dh_installchangelogs - install changelogs into package build directories
	#FILES: debian/changelog, debian/NEWS, debian/package.changelog, debian/package.NEWS
	dh_installchangelogs
	dh_installdocs
	# install files into package build directories
	# debian/redemption.install list the files to install into each package
	# and the directory they should be installed to. It destination directory
	# is missing dh_install guess for destination.
	#--list-missing or --fail-missing
	# This option makes dh_install keep track of the files it installs, and
	# then at the end, compare that list with the files in the source directory.
	# If any of the files (and symlinks) in the source directory were not
	# installed to somewhere, it will warn on stderr about that (or fail).
	# --sourcedir=dir
	# Look in the specified directory for files to be installed.
	# default is to look in debian/tmp
	dh_install --sourcedir=$(DESTDIR) --list-missing
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

